//-
//- Copyright (C) 2015 by Looker Data Services, Inc.
//- All rights reserved.
//-

extends ../layouts/basic

block title
    | My Sample App

block content
    aa-layout(row-height="150" columns="12")
        div.grid-element(data-x="0" data-y="0" data-width="3" data-height="5")
            img(src="http://lorempixel.com/410/750/animals/1")
        div.grid-element(data-x="3" data-y="0" data-width="3" data-height="2")
            img(src="http://lorempixel.com/400/300/animals/2")
        div.grid-element(data-x="6" data-y="0" data-width="2" data-height="1")
            img(src="http://lorempixel.com/270/150/animals/3")
        div.grid-element(data-x="8" data-y="0" data-width="4" data-height="4")
            img(src="http://lorempixel.com/550/600/animals/4")

        div.grid-element(data-x="0" data-y="5" data-width="3" data-height="1")
            img(src="http://lorempixel.com/410/150/animals/5")
        div.grid-element(data-x="3" data-y="4" data-width="6" data-height="2")
            img(src="http://lorempixel.com/820/300/animals/6")
        div.grid-element(data-x="9" data-y="5" data-width="1" data-height="1")
            img(src="http://lorempixel.com/130/150/animals/7")
        div.grid-element(data-x="10" data-y="5" data-width="1" data-height="1")
            img(src="http://lorempixel.com/130/150/animals/8")
        div.grid-element(data-x="11" data-y="5" data-width="1" data-height="1")
            img(src="http://lorempixel.com/130/150/animals/9")

