//-
//- Copyright (C) 2015 by Looker Data Services, Inc.
//- All rights reserved.
//-

extends ../layouts/basic

block title
    | My Sample App

block content

    aa-layout
        div.grid-element(data-x="0" data-y="0" data-width="1" data-height="1")
            img(src="http://lorempixel.com/400/200/food/1")
        div.grid-element(data-x="1" data-y="0" data-width="1" data-height="1")
            img(src="http://lorempixel.com/400/200/food/2")
        div.grid-element(data-x="2" data-y="0" data-width="1" data-height="1")
            img(src="http://lorempixel.com/400/200/food/3")
        div.grid-element(data-x="0" data-y="1" data-width="1" data-height="1")
            img(src="http://lorempixel.com/400/200/food/4")
        div.grid-element(data-x="1" data-y="1" data-width="1" data-height="1")
            img(src="http://lorempixel.com/400/200/food/5")
        div.grid-element(data-x="2" data-y="1" data-width="1" data-height="1")
            img(src="http://lorempixel.com/400/200/food/6")
        div.grid-element(data-x="0" data-y="2" data-width="1" data-height="1")
            img(src="http://lorempixel.com/400/200/food/7")
        div.grid-element(data-x="1" data-y="2" data-width="1" data-height="1")
            img(src="http://lorempixel.com/400/200/food/8")
        div.grid-element(data-x="2" data-y="2" data-width="1" data-height="1")
            img(src="http://lorempixel.com/400/200/food/9")
